@model DataLayer.TblBlog
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-3 fcol">
    <img src="~/Resources/Blogs/Thumb/@Model.MainImage" width="300" height="300" class="shadow mx-auto img-fluid" alt="" />
    <h1 class="h3 mt-3">
        @Model.Name
    </h1>
    <h3 class="h3 mt-3">
        @Model.Title
    </h3>
    <h4 class="h3 mt-3">
        @Model.Description
    </h4>
    <p>
        @Html.Raw(Model.Body)
    </p>
</div>

