@model IEnumerable<DataLayer.TblImage>


@section Styles{

    <link href="~/Content/css/Index.min.css" rel="stylesheet" />

}

<div class="grid">

    @foreach (var item in Model)
    {
        <a href="@item.Link">
            <img src="~/Resources/Images/Thumb/@item.ImageUrl" loading="lazy" alt="@item.Text">
            <div class="overlay">
                <label>
                   @item.Text
                </label>
            </div>
        </a>
    }

</div>

@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/macy@2"></script>

    <script>
        var macy = Macy({
            container: '.grid',
            trueOrder: false,
            waitForImages: false,
            margin: 24,
            columns: 3,
            breakAt: {
                2400: 4,
                1600: 4,
                1200: 3,
                900: 2,
                450: 1,
            }
        });
    </script>

}