<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="بولتن تبلیغاتی انتخابات شورای شهر تبریز" />

    <title>@(ViewBag.Title ?? "آذر کاندیدا")</title>

    <link href="~/Content/css/bootstrap.rtl.css" rel="stylesheet" />
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">*@

    <link href="~/Content/css/Global.min.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

</head>
<body>
    <nav class="navigation fixed-top shadow bg-light">
        <a class="navbar-brand" href="/">
            <h1 class="title">
                <img src="~/Content/img/Untitled-1.svg" />
            </h1>
            <p class="subtitle">تحولی نوین در انتخابات</p>
        </a>
        <img src="~/Content/img/Men.png" alt="" class="men" />
        <a class="logo" href="https://arvintavco.com">
            <img src="~/Content/svg/Logo.svg" alt="" />
        </a>
    </nav>

    <div class="container-main container">
        @RenderBody()
    </div>


    <footer class="footer container-fluid">
        <content class="container-md py-2">
            <div class="row mb-4">
                <div class="col-10 mx-auto text-center">
                    <h2 class="h4 mb-3">
                        درباره این وبسایت
                    </h2>
                    <p class="text-muted">
                        وب سایت جامع تبلیغاتی نامزدهای انتخابات شورای اسلامی شهر با برند آذرکاندیدا تحت نظر شرکت ایده پرداز آروین تاو با هدف پایین آوردن میزان استفاده از کاغذ به عنوان تبلیغات و حفظ محیط زیست به صورت تخصصی و بدون وابستگی به هیچ جناح و حزب خاصی، به شکل جامع به معرفی نامزدهای انتخاباتی (تبریز) می پردازد تا ملت غیور آذربایجان بتوانند نامزد مورد نظر خود را بشناسند و مقایسه های لازم را انجام دهند و همچنین بهترین ها را انتخاب کنند. لازم به ذکر است که این سایت به صورت جامع فقط به موضوع تبلیغات و معرفی نامزدهای انتخاباتی شورای اسلامی شهر میپردازد و به هیچ عنوان موضوع های دیگر را تحت پوشش خود ندارد.
                    </p>
                </div>
            </div>
            <div class="footer-grid">
                <div class="fcol">
                    <a href="" class="fcol text-decoration-none m-auto">
                        <img src="~/Content/img/Untitled-1.svg" width="164" height="72" class="m-auto text-center" />
                        <p class="subtitle text-decoration-none" style="color:#2B2E83">تحولی نوین در انتخابات</p>
                    </a>
                </div>
                <div class="fcol">
                    <a href="https://arvintavco.com" class="fcol text-decoration-none m-auto">
                        <img src="~/Content/svg/Logo.svg" class="m-auto text-center" width="128" height="128" />
                        <p class="text-muted text-center text-decoration-none">طراحی و توسعه توسط آروین تاو</p>
                    </a>
                </div>
                <div class="fcol">
                    <ul class="footer-links">
                        <li>
                            <a href="tel: 04133371059">
                                <ion-icon name="call-outline"></ion-icon>
                                <label>04133371059</label>
                            </a>
                        </li>
                        <li>
                            <a href="tel: 04133373556">
                                <ion-icon name="call-outline"></ion-icon>
                                <label>04133373556</label>
                            </a>
                        </li>
                        <li>
                            <a href="tel: 09145016607">
                                <ion-icon name="call-outline"></ion-icon>
                                <label>09145016607</label>
                            </a>
                        </li>
                        <li>
                            <a href="email: info@arvintavco.com">
                                <ion-icon name="mail-outline"></ion-icon>
                                <label>info@arvintavco.com</label>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/arvin.tav.co/?hl=en">
                                <ion-icon name="logo-instagram"></ion-icon>
                                <label>Instagram</label>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/arvin-tav">
                                <ion-icon name="logo-linkedin"></ion-icon>
                                <label>LinkedIn</label>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </content>
    </footer>


    <script src="~/Content/js/bootstrap.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>*@
    <script src="~/Content/js/masonry.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
