@import '_colors.scss';
@import '_layout.scss';

/*#region Layout */
.frow {
    @include row();
}

.frowr {
    @include row-reverse();
}

.fcol {
    @include column();
}

.fcolr {
    @include column-reverse();
}

@for $var from 1 to 12 {
    .flex-#{$var} {
        flex: $var;
    }
}

.flex-auto {
    flex: auto;
}

/*#endregion */

* {
    margin: 0;
    padding: 0;
}

.navheader {
    height: $navbar-height;
    padding-right: 8px;
    /*border-bottom: $mat-border-color 1px solid;*/
    grid-gap: 12px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    @include shadow-medium;
    //-
    background-color: white;

    .navheader-content {
        @include row;
        height: 100%;
        grid-column-gap: 6px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;

        .azarkandida, .arvintav, .men {
            height: 100%;
            padding: 8px 0;

            img {
                height: 100%;
            }
        }

        .arvintav {
            margin-right: 4px;
        }

        .men {
            margin: -2px;
            padding: 0;
        }


        .d-none {
            grid-area: no;
        }
    }
}

@media only screen and (min-width: 540px) and (max-width: 670px) {
    .navheader {
        height: $navbar-height - 20px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 540px) {
    .navheader {
        height: $navbar-height - 24px;
    }
}

@media only screen and (max-width: 390px) {
    .navheader {
        height: $navbar-height - 40px;
    }
}



.container-main {
    margin-top: calc(#{$navbar-height} + 24px);
}

.footer {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    @media only screen and (min-width: 365px) and (max-width: 700px) {
        .footer-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .fcol:last-child {
                grid-column-start: span 2;
            }
        }
    }

    @media only screen and (max-width: 365px) {
        .footer-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            .fcol:first-child {
                margin: auto;
            }
        }
    }

    .footer-links {
        list-style: none;

        li {
            cursor: pointer !important;
            margin-bottom: 8px;

            a {
                font-size: 16px;
                @include row;
                color: $Text;
                @include trans(.3s);
                text-decoration: none;
                cursor: pointer;
                -webkit-align-items: center;
                align-items: center;

                ion-icon {
                    font-size: 20px;
                    margin-left: 8px;
                    min-width: 20px;
                }

                label {
                    font-size: 14px;
                    cursor: pointer;
                }
            }

            a:hover {
                color: $Text-3;
            }
        }
    }
}
