@import '_colors.scss';
@import '_layout.scss';

/*#region Layout */
.frow {
    @include row();
}

.frowr {
    @include row-reverse();
}

.fcol {
    @include column();
}

.fcolr {
    @include column-reverse();
}

@for $var from 1 to 12 {
    .flex-#{$var} {
        flex: $var;
    }
}

.flex-auto {
    flex: auto;
}

/*#endregion */

* {
    margin: 0;
    padding: 0;
}

.navigation {
    height: $navbar-height;
    border-bottom: 1px solid #dadada;
    background-color: #fff !important;
    padding: 12px;
    @include row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;

    .navbar-brand {
        display: block;
        @include column;
        padding: 0;

        .title {
            margin-bottom: 0;

            img {
                height: 42px;
            }
        }

        .subtitle {
            margin-top: 4px;
            margin-bottom: 0;
            font-size: .7em;
            color: #2B2E83;
            height: 12px;
        }
    }

    .men {
        @include border-def-radius;
        border: 1px solid $Text-5;
    }

    @media only screen and (max-width: 324px) {
        .men {
            display: none;
        }
    }

    .logo {
        height: auto;
        display: block;

        img {
            height: 100%;
            width: auto;
        }
    }
}

@media only screen and (max-width: 424px) {
    .navigation {
        height: $navbar-height - 20px;
        border-bottom: 1px solid #dadada;
        background-color: #fff !important;
        padding: 12px;
        @include row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: stretch;
        align-items: stretch;

        .navbar-brand {
            display: block;
            @include column;

            .title {
                margin-bottom: 0;

                img {
                    height: 32px;
                }
            }

            .subtitle {
                margin-top: 4px;
                margin-bottom: 0;
                font-size: .5em;
                color: #2B2E83;
                height: 12px;
            }
        }

        .men {
            @include border-def-radius;
            border: 1px solid $Text-5;
            max-width: 55px;
        }

        .logo {
            height: auto;
            display: block;

            img {
                height: 100%;
                width: auto;
            }
        }
    }
}

.container-main {
    margin-top: calc(#{$navbar-height} + 24px);
}

.footer {
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    @media only screen and (min-width: 365px) and (max-width: 700px) {
        .footer-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .fcol:last-child {
                grid-column-start: span 2;
            }
        }
    }

    @media only screen and (max-width: 365px) {
        .footer-grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            .fcol:first-child {
                margin: auto;
            }
        }
    }

    .footer-links {
        list-style: none;

        li {
            cursor: pointer !important;
            margin-bottom: 8px;

            a {
                font-size: 16px;
                @include row;
                color: $Text;
                @include trans(.3s);
                text-decoration: none;
                cursor: pointer;
                -webkit-align-items: center;
                align-items: center;

                ion-icon {
                    font-size: 20px;
                    margin-left: 8px;
                    min-width: 20px;
                }

                label {
                    font-size: 14px;
                }
            }

            a:hover {
                color: $Text-3;
            }
        }
    }
}
