@model IEnumerable<DataLayer.TblBlog>
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <tr id="blog_@item.BlogId" class="list-item">
            <td>@(Model.ToList().IndexOf(item)+1)</td>

            <td>
                @if (item.MainImage != null)
                {
                    <img src="~/Resources/Blogs/Thumb/@item.MainImage" alt="Alternate Text" style="height:150px;" />
                }
                else
                {
                    <img src="~/Resources/Blogs/Thumb/@item.MainImage" alt="Alternate Text" style="height: 150px;" />
                }
            </td>
            <td>
                @item.Name
            </td>
            <td>@item.Title</td>
            <td>
                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="ویرایش">
                    <a href="/Admin/Blog/Edit/@item.BlogId"><i class="btn fas fa-edit mr-2 text-primary"></i></a>
                </span>
                <span data-placement="top" data-toggle="tooltip" title="" data-original-title="حذف">
                    <a onclick="deleteBlog(@item.BlogId)" data-toggle="modal" data-target="#modalSave"><i class="btn fas fa-trash mr-2 text-danger"></i></a>
                </span>
            </td>
        </tr>
    }
}
